{#
   Disqus, pronounced "discuss", is a service and tool for web comments
   and discussions. Disqus makes commenting easier and more interactive,
   while  connecting websites and commenters across a thriving discussion
   community.

   @see https://help.disqus.com/customer/portal/articles/472097-universal-embed-code
   @see https://help.disqus.com/customer/portal/articles/472098-javascript-configuration-variables
 #}
<div id="jscomments">
  <div id="disqus_thread"></div>

  {% if not language and grav.language.enabled %}
    {% set language = grav.language.getLanguage %}
  {% endif %}

  <script type="text/javascript">
    var disqus_config = function () {
        this.language        = '{{ language|default('en')|e('js') }}';
        this.shortname       = '{{ shortname|e('js') }}';
        this.page.title      = '{{ title|default(page.title)|e('js') }}';
        this.page.url        = '{{ url|default(page.url(true, true))|e('js') }}';
        this.page.identifier = '{{ id|default(page.rawRoute()|md5)|e('js') }}';
    };

    (function() {
      var dsq = document.createElement('script');

      dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//{{ shortname|e('js') }}.disqus.com/embed.js';
      dsq.setAttribute('data-timestamp', +new Date());

      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>{{ 'PLUGINS.JS_COMMENTS.PROVIDERS.DISQUS.NOSCRIPT'|t|raw }}</noscript>
  {{ 'PLUGINS.JS_COMMENTS.PROVIDERS.DISQUS.COPYRIGHT'|t|raw }}

  {#
     Adding Disqus comment count links to your home page.

     @see https://help.disqus.com/customer/en/portal/articles/565624-adding-comment-count-links-to-your-home-page
   #}
  {% if show_count %}
    <script type="text/javascript">
      (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//{{ shortname|e('js') }}.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      }());
    </script>
  {% endif %}
</div>
