{#
   Facebook comments

   @see https://developers.facebook.com/docs/plugins/comments
#}
<div id="jscomments">
  <div id="fb-root"></div>

  {% if not language and grav.language.enabled %}
    {# I don't know if this is the best way to get the Facebook language, but in most case working fine! #}
    {% set language = grav.language.getLanguage|lower ~ '_' ~ grav.language.getLanguage|upper %}
  {% endif %}

  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/{{ language|default('en_US')|e('js') }}/all.js#xfbml=1&amp;appId={{ app_id|e('js') }}";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>

  <div class="fb-comments" data-href="{{ url|default(page.url(true, true))|e('html_attr') }}" data-numposts="{{ num_posts|e('html_attr') }}" data-colorscheme="{{ colorscheme|e('html_attr') }}" data-order-by="{{ order_by|e('html_attr') }}" data-width="{{ width|e('html_attr') }}"></div>
</div>
