{#
   Muut - The only discussion system your site needs

   @see http://learn.muut.com/embed/comments
 #}
<div id="jscomments">
    <a class="muut"
        href="https://muut.com/i/{{ forum|e('html_attr') }}/comments{{ url|default(page.url(false, true))|e('html_attr') }}"
        title="{{ title|default(page.title)|e('html_attr') }}"
        data-channel="{{ channel|e('html_attr') }}"
        data-show_online="{{ show_online|e('html_attr') }}"
        data-show_title="{{ show_title|e('html_attr') }}"
        data-upload="{{ upload|e('html_attr') }}"
        data-share="{{ share|e('html_attr') }}"
        data-widget="{{ widget|e('html_attr') }}"
        type="dynamic">
        {{ 'PLUGINS.JS_COMMENTS.MUUT.COMMENTS'|t|raw }}
    </a>

    {% if not language and grav.language.enabled %}
        {% set language = grav.language.getLanguage %}
    {% endif %}

    <script src="//cdn.muut.com/1/moot.{{ language|default('en')|e('html_attr') }}.min.js"></script>
</div>
