<div id="jscomments">
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/{{ config.plugins.jscomments.providers.facebook.lang|e('url') }}/sdk.js#xfbml=1&appId={{ config.plugins.jscomments.providers.facebook.appId|e('url') }}&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <div class="fb-comments" data-href="{{ config.plugins.jscomments.providers.facebook.url|default(page.url(true))|e('html_attr') }}" data-numposts="{{ config.plugins.jscomments.providers.facebook.numposts|e('html_attr') }}" data-colorscheme="{{ config.plugins.jscomments.providers.facebook.colorscheme|e('html_attr') }}" data-width="{{ config.plugins.jscomments.providers.facebook.width|e('html_attr') }}"></div>
</div>
