<div id="jscomments">
  <a class="muut"
    href="https://muut.com/i/{{ config.plugins.jscomments.providers.muut.forum|e('html_attr') }}/comments{{ config.plugins.jscomments.providers.muut.url|default(page.url)|e('html_attr') }}"
    title="{{ config.plugins.jscomments.providers.muut.title|default(page.title)|e('html_attr') }}"
    data-channel="{{ config.plugins.jscomments.providers.muut.channel|e('html_attr') }}"
    data-show_online="{{ config.plugins.jscomments.providers.muut.show_online|e('html_attr') }}"
    data-show_title="{{ config.plugins.jscomments.providers.muut.show_title|e('html_attr') }}"
    data-upload="{{ config.plugins.jscomments.providers.muut.upload|e('html_attr') }}"
    data-share="{{ config.plugins.jscomments.providers.muut.share|e('html_attr') }}"
    data-widget="{{ config.plugins.jscomments.providers.muut.widget|e('html_attr') }}">
    Comments
  </a>
  <script src="//cdn.muut.com/1/moot.{{ config.plugins.jscomments.providers.muut.lang|e('html_attr') }}.min.js"></script>
</div>
